.links {
    text-decoration: none;
    color: #6C757D;
    margin: 0 5px;
    padding: 0 2px ;
}

.links:hover {
    color: #495057;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.links:focus {
    color: #212529;
}