@charset "utf-8";
@import "../../../node_modules/bulma/sass/utilities/initial-variables.sass";
@import "../../../node_modules/bulma/sass/utilities/functions.sass";

// --break points--
$gap: 24px;
$widescreen: 1280px;
$fullhd: 1920px;

// --font sizes--
$size-1: var(--text-xxxl);
$size-2: var(--text-xxl);
$size-3: var(--text-xl);
$size-4: var(--text-l);
$size-5: var(--text-m);
$size-6: var(--text-s);
// ?? -> $size-7: var(--text-xs);



// --spacings--
$spacing-base: calc(0.25 * var(--spacing-unit));
$spacing-shortcuts: ("margin": "m", "padding": "p");
$spacing-horizontal: "x";
$spacing-vertical: "y";
$spacing-values: (
  "0": calc(0 * $spacing-base),
  "4": calc(1 * $spacing-base),
  "8": calc(2 * $spacing-base),
  "12": calc(3 * $spacing-base),
  "16": calc(4 * $spacing-base),
  "20": calc(5 * $spacing-base),
  "24": calc(6 * $spacing-base),
  "28": calc(7 * $spacing-base),
  "32": calc(8 * $spacing-base),
  "36": calc(9 * $spacing-base),
  "40": calc(10 * $spacing-base),
  "44": calc(11 * $spacing-base),
  "48": calc(12 * $spacing-base),
  "52": calc(13 * $spacing-base),
  "56": calc(14 * $spacing-base),
  "60": calc(15 * $spacing-base),
  "64": calc(16 * $spacing-base),
  "68": calc(17 * $spacing-base),
  "72": calc(18 * $spacing-base),
);


// $family-sans-serif: 'Arial', sans-serif;
// $success: red;


@import "../../../node_modules/bulma/bulma.sass";