@charset "utf-8";
@import "../../../node_modules/bulma/sass/utilities/initial-variables.sass";
@import "../../../node_modules/bulma/sass/utilities/functions.sass";

// --break points--
$tablet: 601px;
$widescreen: 1280px;
$fullhd: 1440px;

// --font sizes--
// $base-font-size: var(--text-base-size);
// $scale-ratio: var(--text-scale-ratio);
// $size-1: calc($base-font-size * pow($scale-ratio, 5));
// $size-2: calc($base-font-size * pow($scale-ratio, 4));
// $size-3: calc($base-font-size * pow($scale-ratio, 3));
// $size-4: calc($base-font-size * pow($scale-ratio, 2));
// $size-5: calc($base-font-size * $scale-ratio);
// $size-6: $base-font-size;
// $size-7: calc($base-font-size / $scale-ratio);


// --spacings--
$spacing-base: var(--spacing-base-size);
$spacing-shortcuts: ("margin": "m", "padding": "p");
$spacing-horizontal: "x";
$spacing-vertical: "y";
$spacing-values: (
  "0": calc(0 * $spacing-base),
  "4": calc(1 * $spacing-base),
  "8": calc(2 * $spacing-base),
  "12": calc(3 * $spacing-base),
  "16": calc(4 * $spacing-base),
  "20": calc(5 * $spacing-base),
  "24": calc(6 * $spacing-base),
  "28": calc(7 * $spacing-base),
  "32": calc(8 * $spacing-base),
  "36": calc(9 * $spacing-base),
  "40": calc(10 * $spacing-base),
  "44": calc(11 * $spacing-base),
  "48": calc(12 * $spacing-base),
  "52": calc(13 * $spacing-base),
  "56": calc(14 * $spacing-base),
  "60": calc(15 * $spacing-base),
  "64": calc(16 * $spacing-base),
  "68": calc(17 * $spacing-base),
  "72": calc(18 * $spacing-base),
);


// $family-sans-serif: 'Arial', sans-serif;
// $success: red;
// $gap: 60px;


@import "../../../node_modules/bulma/bulma.sass";