:root {
  --spacing-base-size: 4px;
  --spacing-scale-ratio: 4;
  --space-xxs: calc(0.25 * var(--space-unit)); // 4px
  --space-xs: calc(0.5 * var(--space-unit));  // 8px
  --space-sm: calc(0.75 * var(--space-unit)); // 12px
  --space-m: var(--space-unit); // 16px
  --space-l: calc(1.5 * var(--space-unit));    // 24px
  --space-xl: calc(2 * var(--space-unit)); // 32px
  --space-xxl: calc(3 * var(--space-unit)); // 48px
  --space-xxxl: calc(4 * var(--space-unit)); // 72px
}