@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
  --font-primary: 'Varela Round', sans-serif;

  /* base values */
  --text-base-size: 1em;
  --text-scale-ratio: 1.2;
}
