@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

:root {
  --font-primary: 'Varela Round', sans-serif;
  --font-secondary: 'Montserrat', sans-serif;

  /* base values */
  --text-base-size: 1em;
  --text-scale-ratio: 1.25;
  --grid-unit: 1.5rem;

  /* font sizes */
  --text-xxs: calc(var(--text-base-size) / pow(var(--text-scale-ratio) * (var(--text-scale-ratio))));
  --text-xs: calc(var(--text-base-size) / (var(--text-scale-ratio)));
  --text-s: var(--text-base-size);
  --text-m: calc(var(--text-base-size) * var(--text-scale-ratio));
  --text-l: calc(var(--text-base-size) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xl: calc(var(--text-base-size) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xxl: calc(var(--text-base-size) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xxxl: calc(var(--text-base-size) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));

  /* line heights */
  --grid-line-m: var(--grid-unit);                // 24px
  --grid-line-l: calc((var(--grid-unit) * 2));    // 48px
  --grid-line-xl: calc((var(--grid-unit) * 3));   // 72px

}

// @include break-point($fullhd) {
//   :root {
//     --text-base-size: 1.125em;
//   }
// }

// @include break-point($smalltablet) {
//   :root {
//     --text-base-size: 0.875em;
//   }
// }

body,
.body-1 {
  font-family: var(--font-primary);
  font-size: var(--text-s);
  line-height: var(--grid-line-m);
  letter-spacing: 0.5px;
}

.body-2 {
  font-size: var(--text-xs);
  line-height: var(--grid-line-m);
  letter-spacing: 0.25px;
}

.display {
  font-family: var(--font-secondary);
  font-size: var(--text-xxxl);
  font-weight: 900;
  line-height: var(--grid-line-xl);
  letter-spacing: 1.5px;

  &.spaced {
    margin: var(--space-xxl) 0;
  }
}

h1,
.title-1 {
  font-size: var(--text-xxl);
  letter-spacing: 1px;
  line-height: var(--grid-line-l);

  &.spaced {
    margin: 0 0 var(--space-xxl);
  }
}

h2,
.title-2 {
  font-size: var(--text-xl);
  letter-spacing: 0.75px;
  line-height: var(--grid-line-l);

  &.spaced {
    margin: 0 0 var(--space-xxl);
  }
}

h3,
.title-3 {
  font-size: var(--text-l);
  letter-spacing: 0.5px;
  line-height: var(--grid-line-l);

  &.spaced {
    margin: 0 0 var(--space-xxl);
  }
}

h4,
.title-4 {
  font-size: var(--text-m);
  letter-spacing: 0.35px;
  line-height: var(--grid-line-m);

  &.spaced {
    margin: 0 0 var(--space-m);
  }
}

h5,
.title-5 {
  font-size: var(--text-s);
  letter-spacing: 0.25px;
  line-height: var(--grid-line-m);

  &.spaced {
    margin: 0 0 var(--space-m);
  }
}

h6,
.title-6 {
  font-size: var(--text-xs);
  letter-spacing: 0.15px;
  line-height: var(--grid-line-m);

  &.spaced {
    margin: 0 0 var(--space-m);
  }
}

@for $i from 1 through 6 {
  h#{$i},
  .title-#{$i} {
    font-weight: 700;
  }
}

.subtitle-3 {
  font-size: var(--text-l);
  letter-spacing: 0.5px;
  line-height: var(--grid-line-l);

  &.spaced {
    margin-bottom: var(--space-xxl);
  }
}

.subtitle-4 {
  font-size: var(--text-m);
  letter-spacing: 0.35px;
  line-height: var(--grid-line-m);

  &.spaced {
    margin-bottom: var(--space-xxl);
  }
}

.subtitle-5 {
  font-size: var(--text-s);
  letter-spacing: 0.25px;
  line-height: var(--grid-line-m);

  &.spaced {
    margin-bottom: var(--space-xxl);
  }
}

.subtitle-6 {
  font-size: var(--text-xs);
  letter-spacing: 0.15px;
  line-height: var(--grid-line-m);

  &.spaced {
    margin-bottom: var(--space-m);
  }
}

@for $c from 3 through 6 {
  .subtitle-#{$c} {
    font-weight: 500;
    // line-height: 150%;
    color: gray;
  }
}

.btn {
  font-size: var(--text-xs);
  text-transform: uppercase;
  line-height: 150%;
  letter-spacing: 1.25px;
}

.caption {
  font-size: var(--text-xxs);
  line-height: 150%;
  letter-spacing: 0.4px;
}

.overline-1 {
  font-size: var(--text-s);
  text-transform: uppercase;
  line-height: 150%;
  letter-spacing: 2px;
}

.overline-2 {
  font-size: var(--text-xs);
  text-transform: uppercase;
  line-height: 150%;
  letter-spacing: 1.5px;
}

.overline-3 {
  font-size: var(--text-xxs);
  text-transform: uppercase;
  line-height: 150%;
  letter-spacing: 1px;
}


.mine {
  body,
.body-1 {
  font-family: var(--font-primary);
  font-size: var(--text-base-size);
  line-height: 150%;
  letter-spacing: 0.5px;
}

.body-2 {
  font-size: var(--text-xs);
  line-height: 150%;
  letter-spacing: 0.25px;
}

.display {
  font-family: var(--font-secondary);
  font-size: var(--text-xxxl);
  font-weight: 900;
  line-height: 72px;
  letter-spacing: 1.5px;
}

h1,
.title-1 {
  line-height: 48px;
  font-size: var(--text-xxl);
  letter-spacing: 1px;
}

h2,
.title-2 {
  line-height: 48px;
  font-size: var(--text-xl);
  letter-spacing: 0.75px;
}

h3,
.title-3 {
  line-height: 48px;
  font-size: var(--text-l);
  letter-spacing: 0.5px;
}

h4,
.title-4 {
  line-height: 24px;
  font-size: var(--text-m);
  letter-spacing: 0.35px;
}

h5,
.title-5 {
  line-height: 24px;
  font-size: var(--text-s);
  letter-spacing: 0.25px;
}

h6,
.title-6 {
  line-height: 24px;
  font-size: var(--text-xs);
  letter-spacing: 0.15px;
}

@for $i from 1 through 6 {
  h#{$i},
  .title-#{$i} {
    font-weight: 700;
    // line-height: 110%;
  }
}

.subtitle-3 {
  line-height: 48px;
  font-size: var(--text-l);
  letter-spacing: 0.5px;
}

.subtitle-4 {
  line-height: 24px;
  font-size: var(--text-m);
  letter-spacing: 0.35px;
}

.subtitle-5 {
  line-height: 24px;
  font-size: var(--text-s);
  letter-spacing: 0.25px;
}

.subtitle-6 {
  line-height: 24px;
  font-size: var(--text-xs);
  letter-spacing: 0.15px;
}

@for $c from 3 through 6 {
  .subtitle-#{$c} {
    font-weight: 500;
    // line-height: 150%;
    color: gray;
  }
}

.btn {
  font-size: var(--text-xs);
  text-transform: uppercase;
  line-height: 150%;
  letter-spacing: 1.25px;
}

.caption {
  font-size: var(--text-xxs);
  line-height: 150%;
  letter-spacing: 0.4px;
}

.overline-1 {
  font-size: var(--text-s);
  text-transform: uppercase;
  line-height: 150%;
  letter-spacing: 2px;
}

.overline-2 {
  font-size: var(--text-xs);
  text-transform: uppercase;
  line-height: 150%;
  letter-spacing: 1.5px;
}

.overline-3 {
  font-size: var(--text-xxs);
  text-transform: uppercase;
  line-height: 150%;
  letter-spacing: 1px;
}
}


